[A-Za-z]*
.CFUserTextEncoding
.Xauthority
.bash_history
.bash_profile
.bashrc
.hgignore_global
.irb-history
.irb_history
.lesshst
.netrc
.pgpass
.pry_history
.rnd
.sqlite_history
.tcshrc
.viminfo
.wireshark/.fccache-new
.zcompdump
.zprofile
.zsh_history